<style>
	.result {
		background-color: gold;
		box-shadow: 0px 0px 20px white;
	}
	.resultRow {
		background-color: black;
	}
	.description {
		border: 1px solid black;
		min-height: 100px;
		max-height: 200px;
		overflow: auto;
		margin: 5px 5px 0px 5px;
		padding: 5px;
	}
	.descriptionBox {
		border: 1px solid black;
		margin-bottom: 10px
	}
	#pageContainer {
		background-color: black;
	}
	.lastEdited {
		padding-right: 10px;
	}
</style>
<div class="container-fluid" id="pageContainer">
	<% @courses.each do |course| %>
		<div class="row resultRow">
			<div class="col-xs-1 col-sm-2">&nbsp</div> <!-- For spacing -->
			<div class="col-xs-10 col-sm-8 result">
			    <div><h3><b><%= course.fullName %> : <%= course.name %></b></h3></div>
			    <div><h5><b>Department of <%= course.department %></b></h5></div>
			    <hr style="margin:0px; border-color:black">
			    <div class="">
			    	Course Description:
			    	<div class="descriptionBox">
			    		<div class="description">
			    			<% if course.description.blank? %>
			    				There is no description for this course yet. If you are familiar with this course, please write a review for this course and add to the description yourself!
			    			<% else %>
			    				<%= course.description %>
			    			<% end %>
			    		</div>
			    		<div align="right" class="lastEdited">
			    			<% if course.lastEdited.blank? %>
			    				Last edited: n/a
			    			<% else %>
			    				Last edited: <%= course.lastEdited %>
			    			<% end %>
			    		</div>
			    	</div>
			    </div>
			</div>
		    <div class="col-xs-1 col-sm-2">&nbsp</div> <!-- For spacing -->
		</div>
		<br>
	<% end %>
</div>