<style>
  #main {
    box-shadow: 3px 3px 10px;
    background-color: white;
    margin-top: 15px;
  }
  .jumbotron {
    background-image: url('/gray3.jpg');
    background-size: 50%;
    margin: 10px 0px 15px 0px;
    box-shadow: 3px 3px 10px black;
    padding: 10px;
    color: #B1810B;
    text-shadow: 3px 3px black;
  }
  .signIn {
    color: #B1810B !important;
    text-decoration: none !important;
    background-color: transparent !important;
  }

  .signIn:hover  {
    color: #B1810B !important;
    text-decoration: none !important;
    background-color: transparent !important;
  }
</style>
<div class="container" id="main">
  <div class="jumbotron">
      <h1 style="text-align:center;">Edit <%= resource_name.to_s.humanize %></h1>
      <p style="text-align:center; color: white; text-shadow: 2px 2px black;">Need to change something?</p>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %><br><i>(leave blank if you don't want to change it)</i><br>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %><br><i>(we need your current password to confirm your changes)</i><br>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div style="margin-top: 10px" class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <br>
  <div align="center">
    <h4 style="color: #B1810B">Cancel My Account</h4>

    <p>Unhappy? Click here to disappear!<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

    <%= link_to "Back", :back, class: "signIn" %>
  </div>
</div>
