<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
<style>
.navbar{
  margin-bottom: 0px;
  z-index: 10000;
  background-image: url('/assets/footer_background.jpg');
  font-family: 'Josefin Sans', sans-serif;
}

    body {
    padding: 50px 0px;
  }


@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
  overflow-y: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


</style>

<script>
$(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>



<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>

          <a class="navbar-brand pull-left" href="/pages/home" style="color: white">RateMyCourses</a>

        <!--<%#= form_tag new_user_registration_path, method: :get, class: "navbar-form pull-left", role: "search" do %>
          <div class="input-group">
            <%#= text_field_tag :search, params[:search],  placeholder:"Search" , class: "form-control" %>
            <div class="input-group-btn">
            <%#= button_tag( :class => "btn btn-default") do %>
            <span style="margin-right: 2px" class="glyphicon glyphicon-search"></span>
            <%# end %>
            </div>            
          </div> -->
        <%# end %>   
        
        <%#= form_tag search_courses_path, method: :get, class: "navbar-form" do %>
            <!--<p>
              <%#= text_field_tag :search, params[:search], class:"form-control", placeholder:"search for a course" %>
              <%#= submit_tag "Search", name:nil, class: "btn btn-default" %>
           </p>-->
        <%# end %>
        
        <div class="navbar-form" style="width: 300px">    
        <%= form_tag search_courses_path, method: :get, class: "input-group", style:"width: 100%" do %>
        
              <%= text_field_tag :search, params[:search], class:"form-control", placeholder:"Search for a course at Purdue University", style:"border-radius: 20px; height: 40px; border: 5px solid gray; background-color: white; color: black" %>
              <div class="input-group-btn">
              <%= button_tag(type: "submit", class: "btn", style:"background-color:white; border-radius:20px; border: 5px solid gray; height: 40px") do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true" style=""></span>
              <% end %>
              </div>
        
          <% end %>
          </div>
        

      </div>


        




      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
          <!-- Only show the Profile menu when logged in -->
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span> <%= current_user.email%>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/users/edit" data-no-turbolink="true">Edit Profile<span class="glyphicon pull-right glyphicon-pencil"></span></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/ContactUs">Contact Us<span class="glyphicon pull-right glyphicon-question-sign"></span></a></li>
              </ul>
            </li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
         </ul>

      </div>
      <!--/.navbar-collapse -->
   </div>
</div>