<style>
	.adbox {
		height: 175px;
	}

	.adcontent {
		padding: 10px;
		height: 100%;
		font-size: 120%;
		text-align: center;
	}

	input::-webkit-input-placeholder {
		color: gray !important;
	}

	 
	input:-moz-placeholder { /* Firefox 18- */
		color: gray !important;  
	}

	 
	input::-moz-placeholder {  /* Firefox 19+ */
		color: gray !important;  
	}

	 
	input:-ms-input-placeholder {  
		color: gray !important;  
	}

	a:hover {
		background-color: transparent;
		text-decoration: none;
	}

	#topCourseEntry{
		background-color: #B1810B;
		color: black;
	}

	.result {
		background-color: #B1810B;
		box-shadow: 2px 2px 20px black;
		border-radius: 5px;
	}

	.result:hover{
		box-shadow: 6px 6px 15px black;
	}

	.resultRow {
		margin: 5px 0px 5px 0px;
	}

	.description {
		border: 1px solid black;
		min-height: 100px;
		max-height: 200px;
		overflow: auto;
		margin: 5px 5px 0px 5px;
		padding: 5px;
		background-color: #B1810B;
	}

	.descriptionBox {
		border: 1px solid black;
		margin-bottom: 10px;
		background-color: white;
	}

	#pageContainer {
		background-color: black;
	}

	.lastEdited {
		padding-right: 10px;
	}

	.courseLink {
		color: black;
	}

	.courseLink:hover {
		color: black;
	}

	.courseLink:visited{
		color:black;
	}

	#myHeader {
        background-image: url('/gray3.jpg');
        background-size: 50%;
        margin: 0px 0px 10px 0px;
        box-shadow: 3px 3px 10px black;
        padding: 10px;
        color: #B1810B;
    }

    #body {
    	background-image: url('/gray2.gif');
    }

    .headerText {
    	text-shadow: 3px 3px black;
    }

    #main {
    	box-shadow: 3px 3px 10px black;
    }

    .dropdown-toggle  {
    	color: white !important;
    	text-decoration: none !important;
    }

    .dropdown-toggle:hover  {
    	color: white !important;
    	text-decoration: none !important;
    }

    .sign {
    	color: white !important;
    	margin-right: 8px;
    }
    .sign:hover {
    	color: white !important;
    	background-color: transparent;
    	margin-right: 8px;
    }
</style>

<div class="container" id="body">
	<!-- Header -->
	<div class="jumbotron" id="myHeader">
	        <div style="height: 30px">&nbsp</div>
	        <h1 class="headerText" style="color:white;"><b>Rate My Classes</b></h1>
	        <h4 class="headerText">For use of students at Purdue University</h4>
	</div>

	<!-- Main -->
	<div id="main">
		<!-- Searchbar -->
		<div style="background-color: #B1810B; border-bottom: 1px solid black; ;">
			<div class="container-fluid" style="">
				<div class="row" style="">
					<div class="col-xs-0 col-sm-1 col-md-3">
						&nbsp
					</div>
					<div class="col-xs-12 col-sm-7 col-md-6">
				      	<%= form_tag search_courses_path, method: :get, class: "input-group", style:"width: 100%" do %>
				      		<p>
				      			<%= text_field_tag :search, params[:search], class:"form-control", placeholder:"Search for a course at Purdue", style:"border-radius: 20px; height: 40px; width: 85%; margin-top: 8px; border: 5px solid gray; background-color: white; color: black;" %>
				      			<%= button_tag(type: "submit", class: "btn", style:"background-color:white; border-radius:20px; margin-top: 8px; border: 5px solid gray; height: 40px;") do %>
				      				<span class="glyphicon glyphicon-search" aria-hidden="true" style="padding-top: -5px"></span>
				      			<% end %>
				      		</p>
				      	<% end %>
				    </div>
				    <div class="col-xs-12 col-sm-4 col-md-3">
						<div style="margin-top: 15px">
						<% if user_signed_in? %>
							<ul align="right" style="color:white">
								<li class="dropdown" align="left">
				              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				                		<span class="glyphicon glyphicon-user"></span>
				                		<%= current_user.email%>
					                	<span class="caret"></span>
					              	</a>
					            	<ul class="dropdown-menu">
						            	<li><a href="/users/edit" data-no-turbolink="true">Edit Profile <span class="glyphicon pull-right glyphicon-pencil"></span></a></li>
						                <li role="separator" class="divider"></li>
						                <% if current_user.admin? %>
						                  <li><a href="/pages/admin">Admin<span class="glyphicon pull-right glyphicon-king"></span></a></li>
						                <% end %>
						                <li><a href="/ContactUs">Contact Us <span class="glyphicon pull-right glyphicon-question-sign"></span></a></li>
						            	<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
					            	</ul>
				            	</li>
			            	</ul>
						<% else %>
							<div align="right">
								<a class="sign" href="/users/sign_up">Sign Up</a> <a class="sign" href="/users/sign_in">Log In</a>
							</div>
						<% end %>
						</div>
					</div>
			    </div>
			</div>
		</div> <!-- End Searchbar -->

		<!-- Ad boxes -->
		<div style="background-image: url('/rocks1.jpg'); background-size: 30%">
			<div class="container" style="height: 200px;">
				<div class="row" style="margin: 10px;">
					<div class="col-xs-4 adbox">
						<div class="adcontent"><img src="/boximg_2.jpg" height="100%" style="max-width:100%" alt="boximage1"></div>
					</div>
					<div class="col-xs-4 adbox">
						<div class="adcontent"><img src="/boximg_1.jpg" height="100%" style="max-width:100%" alt="boximage2"></div>
					</div>
					<div class="col-xs-4 adbox">
						<div class="adcontent"><img src="/boximg_3.jpg" height="100%" style="max-width:100%" alt="boximage3"></div>
					</div>
				</div>
			</div>
		</div> <!-- end Ad boxes -->

		<!-- Top rated Courses -->
		<div class="container-fluid" style="background-color: white; min-height: 500px; padding: 0px 50px 0px 50px">
			<div class="row">
				<div class="col-xs-1">&nbsp</div>
				<div class="col-xs-10" align="center" style="color: #B1810B">
					<h3 class=""><b>#Top Rated Courses</b></h3>
				</div>
				<div class="col-xs-1">&nbsp</div>
			</div>
			<div class="row" align="center" style="background-color: white; color: white">
				<div class="col-xs-1">
					&nbsp
				</div>

				<div class="col-xs-10">
					<div class="container-fluid">

						<%= @i = 1 %>
						<% # @courses.sort_by{|x| x[:ratings] }.reverse.first(10).each do |course| %>
						<% @courses.sort_by{|x| x[:ratings] }.first(5).each do |course| %>
							<div class="row resultRow">
								<a href="" class="courseLink">
								<div class="col-xs-12 result">
									<div align="left" style="font-size:normal"><b>#<%= @i %></b></div>
								    <div><h3 style="margin-top: 5px"><b><%= course.fullName %> : <%= course.name %></b></h3></div>
								    <div><h5><b><%= course.departmentFull %> Department (<%= course.department %>)</b></h5></div>
								    <hr style="margin:0px; border: 1px solid white">
								    <div class="" style="padding-top: 4px">
								    	Course Description:
								    	<div class="descriptionBox">
								    		<div class="description">
								    			<% if course.description.blank? %>
								    				There is no description for this course yet. If you are familiar with this course, please write a review for this course and add to the description yourself!
								    			<% else %>
								    				<%= course.description %>
								    			<% end %>
								    		</div>

								    	  <% if course.ratings? %>
							                <% if course.ratings.to_f >= 4.5 %>
							                  <div class="col-xs-9"><b>Average Ratings:</b><img src="/assets/5stars.png" style="height:30px; width:120px; "></div>
							                <% elsif course.ratings.to_f >= 3.5 %>
							                  <div class="col-xs-9"><b>Average Ratings:</b><img src="/assets/4stars.png" style="height:30px; width:120px; "></div>
							                <% elsif course.ratings.to_f >= 2.5 %>
							                  <div class="col-xs-9"><b>Average Ratings:</b><img src="/assets/3stars.png" style="height:30px; width:120px; "></div>
							                <% elsif course.ratings.to_f >= 1.5 %>
							                  <div class="col-xs-9"><b>Average Ratings:</b><img src="/assets/2stars.png" style="height:30px; width:120px; "></div>
							                <% elsif course.ratings.to_f > 0 %>
							                  <div class="col-xs-9"><b>Average Ratings:</b><img src="/assets/1star.png" style="height:30px; width:120px; "></div>
							                <% end %>
							              <%else%>
							                <div class="col-xs-9"><b>Average Ratings:</b> No rating available</div>
							              <% end %>


								    		<div align="right" class="lastEdited">
								    			<% if course.lastEdited.blank? %>
								    				Last edited: n/a
								    			<% else %>
								    				Last edited: <%= course.lastEdited.strftime("%B %e, %Y") %>
								    			<% end %>
								    		</div>
								    	</div>
								    </div>
								</div>
								</a>
							</div>
							<%= @i+=1 %>
							<br>
						<% end %>
					</div>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
					&nbsp
				</div>
			</div>
		</div><!-- End Top Rated Courses -->
	</div><!-- End of Main -->
</div>