<style>
  #main {
    background-color: white;
    box-shadow: 3px 3px 10px black;
    margin-top: 15px;
  }

  .jumbotron {
    margin-top: 10px;
    background-color: black;
    background-image: url("/gray3.jpg");
    background-size: 50%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 0px !important;
  }

  #courseName {
    color: white;
    text-shadow: 3px 3px 5px black;
  }

  #courseDep {
    color: #B1810B;
    text-shadow: 3px 3px 5px black;
  }

  #courseDescription {
    background-color: #B1810B;
    padding: 2px 10px 5px 10px;
  }

  #averageGrade {
    margin-top: 10px;
  }

  #starRatings {
    margin-top: 10px;
  }

  #reviewButton {
    width: 200px;
  }

  #questions {
    background-color: #BAA892;
    padding: 10px;
    margin-bottom: 10px;
  }

  .reviewRow {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #7CA6C0;
    color: black;
    
  }
  #reviews {
    background-color:;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #B1810B;
  }

  .download {
    color: #B1810B !important;
  }
  .download:hover {
    color: #B1810B;
    background-color: transparent;
  }

  .vote {
    /*color: white !important; */
  }
  .vote:hover {
    /*color: white;*/ 
    background-color: transparent;
    text-decoration: none;
  }

  .answerBar {
    margin-right:10px !important;
    margin-left:10px !important;
  }

  .vote2 {
    /*color: white !important; */
  }
  .vote2:hover {
    /*color: white;*/
    text-decoration: none;
    background-color: transparent;
  }
  .glyphicon-thumbs-up {
    font-size: 1.5em;
  }
  .glyphicon-thumbs-down {
    font-size: 1.5em;
  }
  .glyphicon-flag{
    font-size: 1.5em;
  }
  .ion-android-happy{
    font-size: 1.5em;
  }
  </style>

<head>
<script>
    var aboutMe = "";
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 
        $(".best_in_place").best_in_place();
    });
</script>

<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
</head>
<div class="container" id="main">
  <!-- Course Header -->
  <div class="jumbotron">
    <h1 style="padding-top:20px" id="courseName">
      <%= @course.fullName %>: <%= @course.name %>
    </h1>

    <h2 id="courseDep">
      Department: <%= @course.departmentFull %>
    </h2>
  </div>

   
  <% if user_signed_in? %>
    <div id="courseDescription">
      <h4 style="margin-bottom: 0px; color:white; text-shadow: 1px 1px black"><b>Description:</b></h4>
      <div style="padding: 10px; margin-left: 5px;">
        <%= best_in_place @course, :description , :place_holder => "No description of this class has been written yet. Click me to write one!", :as => :textarea%>
      </div>
      <div style="font-size:x-small" align="center"><strong>*If this description is not accurate, please edit by clicking on it or write a new one.</strong></div>
      
      <!-- Update the database with lastEdited -->
      <div align="center">
        <%= form_tag update_lastedited_course_path(@course, @course.id), method: :put do %>
          <%= hidden_field_tag :lastEdited, @course.lastEdited -%>
          <%= submit_tag 'Update Description' -%>
        <% end %>
      </div>
    </div>
  <% else %>

  <!-- Description -->
  <div id="courseDescription">
    <h4 style="margin-bottom: 0px; color:white; text-shadow: 1px 1px black"><b>Description:</b></h4>
    <% if (@course.description.blank?) then %>
      <span style="padding-left: 10px">
        No description of this class has been written yet. Login to write one!
      </span>
    <% else %>
      <span style="padding-left: 10px">
        <%= @course.description %>
      </span>
      <br>
      <span style="text-size:x-small"><strong>*If this description is not accurate, please login and write a new one!</strong></span>
    <% end %>
  </div>
  <% end %>
  
  <div class="row">
    <!-- Updates the database when needed -->
    <% @course.update_column(:ratings, @course.average_rate) %>

    <!-- Star Ratings -->
    <div class="col-xs-8" id="starRatings">
      <!-- Difficulty -->
      <span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Difficulty" data-content="How hard was the class? 1 being the easiest, 5 being the hardest."><strong class="">Difficulty </strong><span class="glyphicon glyphicon-info-sign"></span></a></span>
      <%= rating_for @course, "difficulty", disable_after_rate: false, imdb_avg: false, cancel_off: "blank.jpg", cancel_on: "blank.jpg" %>

      <!-- Workload -->
      <span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Workload" data-content="How much work did this class take? 1 being the least, 5 being the most."><strong class="">Workload </strong><span class="glyphicon glyphicon-info-sign"></span></a></span>
      <%= rating_for @course, "workload", disable_after_rate: false, imdb_avg: false, cancel_off: "blank.jpg", cancel_on: "blank.jpg" %>

      <!-- Enjoyment -->
      <span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Enjoyment" data-content="How much did you like the class? 1 being the least, 5 being the most."><strong class="">Enjoyment </strong><span class="glyphicon glyphicon-info-sign"></span></a></span>
      <%= rating_for @course, "enjoyment", disable_after_rate: false, imdb_avg: false, cancel_off: "blank.jpg", cancel_on: "blank.jpg" %>
    </div> <!-- Star Ratings-->

    <!-- Average Grage -->
    <div class="col-xs-4" align="center" id="averageGrade">
      <h4 style="display:inline">Average Grade: </h4>
      <% if @course.averageGrade.blank? %>
        N/A
      <% else %> 
        <%= @course.averageGrade %>
      <% end %>
    </div> <!-- Average Grage -->
  </div> <!-- Ratings and Average Grade Row -->

  <!-- Write Review Button -->
  <div align="center" style="margin-top: 10px">
    <%= link_to "Write a Review", new_course_review_path(:course_id => @course.id), class: "btn btn-success", id: "reviewButton" %>
  </div>

  <!-- Reviews -->
  <div class="container-fluid" id="">
    <h3>Reviews</h3>
    <% if @reviews.blank? %>
      <h3 align="center">Hmm. No one has written a review yet. You could be the first!</h3>
    <% else %>
      <% if user_signed_in? %>
        <% @reviews.each do |review| %>
          <div class="container-fluid" style="border: 2px solid #000000; border-radius: 7px; margin-top: 5px;">
              <div class="row" style="border-bottom: 1px solid #000000">
                <div class="col-lg-3">
                  <h4><b>Professor:</b>
                  <% if !review.Instructor.blank? %>
                    <%= review.Instructor %>
                  <% else %>
                    N/A
                  <% end %>
                  </h4>
                </div>

                <div class="col-lg-2">
                  <h4>
                  <b>
                    <% if !review.Semester.blank? %>
                        <%= review.Semester %> <%= review.YearTaken %>
                    <% else %>
                        N/A
                    <% end %>
                  </b>
                  </h4>
                </div>

                <div class="col-lg-5">
                  <h4>
                    <b>Teacher's Assistants:</b>
                    <% if !review.TAs.blank? %>
                      <%= review.TAs %>
                    <% else %>
                      N/A
                    <% end %>
                  </h4>
                </div>

                <div class="col-lg-2">
                  <% if (review.user_id == current_user.id) %>
                    <h4>
                      <%= link_to edit_course_review_path(:course_id => @course.id, :id => review.id) do%>
                        <span style="color: blue; text-align:right">Edit <i class="icon ion-edit"></i></span>
                      <% end %>
                    </h4>
                  <% else %>
                    <% if review.syllabus.to_s.eql? ""%>
                      &nbsp
                    <% else %>
                      <h4 style="text-align:right">
                        <%= link_to review.syllabus_url, class: "download" do%>
                          <span style="color:blue"> Syllabus <i class="icon ion-android-download"></i></span>
                        <% end %>
                      </h4>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="row" style="margin-top: 5px">
                <div class="col-lg-7" >
                  <div class="well well-sm">
                    <%= review.Comment %>
                  </div>
                </div>
                <div class="col-lg-5">
                  <b>Hours/week:</b>
                  <% if !review.HoursAWeek.blank? %>
                    <%= review.HoursAWeek %>
                  <% else %>
                    N/A
                  <% end %>
                  <br>
                  <b>Textbook required?</b> 
                  <% if !review.TextbookRequired.blank? %>
                      <%= review.TextbookRequired  ? 'Yes' : 'No'  %>
                  <% else %>
                      N/A
                  <% end %>
                  <br>
                  <b>Attendance requred?</b>
                  <% if !review.AttendanceRequired.blank? %>
                      <%= review.AttendanceRequired  ? 'Yes' : 'No'  %>
                  <% else %>
                      N/A
                  <% end %>
                  <br>
                  <b>Grade Recieved:</b> 
                  <% if !review.GradeReceived.blank? %>
                    <%= review.getGrade(review.GradeReceived) %>
                  <% else %>
                    N/A
                  <% end %>
                </div>
              </div>

              <div class="row" style="margin-top: 0px;">
                <div class="col-lg-4">
                  <% if !(current_user.voted_as_when_voted_for review).nil? %> <!-- If has been voted for -->
                    <% if current_user.voted_as_when_voted_for review %> <!-- If vote was a like -->
                      <span style="font-size:1.35em;">(<%= review.scoreReview %>)</span>
                      <%= link_to like_review_path(review), method: :put, class: "vote" do %>
                        <span class="glyphicon glyphicon-thumbs-up" style="color:green"></span>
                      <% end %>

                      <%= link_to dislike_review_path(review), method: :put, class: "vote" do%>
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                      <% end %>
                    <% else %> <!-- If vote was a dislike-->
                      <span style="font-size:1.35em;">(<%= review.scoreReview %>)</span>
                      <%= link_to like_review_path(review), method: :put, class: "vote" do %>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                      <% end %>

                      <%= link_to dislike_review_path(review), method: :put, class: "vote" do%>
                        <span class="glyphicon glyphicon-thumbs-down" style="color:red"></span>
                      <% end %>
                    <% end %>
                  <% else %> <!-- No vote yet -->
                    <span style="font-size:1.35em;">(<%= review.scoreReview %>)</span>
                      <%= link_to like_review_path(review), method: :put, class: "vote" do %>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                      <% end %>

                      <%= link_to dislike_review_path(review), method: :put, class: "vote" do%>
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                      <% end %>
                  <% end %>
                </div>
                <div class="col-lg-8" style="text-align:right">
                  <% if current_user.voted_as_when_voted_for review, :vote_scope => 'flag' %>
                    <%= link_to flag_review_path(review), method: :put, class: "vote" do %>
                      <span class="glyphicon glyphicon-flag" style="color:red"></span> Flag review
                    <% end %>
                  <% else %>
                    <%= link_to flag_review_path(review), :data => {:confirm => 'Are you sure?'}, method: :put, class: "vote" do %>
                      <span class="glyphicon glyphicon-flag"></span> Flag review
                    <% end %>
                  <% end %>
                  (<%= review.scoreFlag %>)
                </div>

              </div>

              <div class="row">
                <div class="col-lg-7">
                  <% if current_user.voted_as_when_voted_for review, :vote_scope => 'funny' %>
                    <i class="icon ion-happy" style="font-size:1.5em; color:blue;"></i>
                  <% end %>

                  <%= link_to funny_review_path(review), method: :put, class: "vote" do%>
                  <span style="color:blue">Funny!</span>
                  <% end %>
                  <span style="font-size: .8em;"><%= review.scoreFunny %> people found this review funny</span>
                  
                </div>
                <div class="col-lg-5">
                  <p style="text-align:right">Review created on: <%= review.created_at.strftime("%B %d, %Y") %></p>
                </div>
              </div>
          </div>
        <% end %> <!-- End for each review -->
      <% else %> <!-- Not logged in -->
        <% @reviews.each do |review| %>
          <div class="container-fluid" style="border: 2px solid #000000; border-radius: 7px; margin-top: 5px;">
              <div class="row" style="border-bottom: 1px solid #000000">
                <div class="col-lg-3">
                  <h4><b>Professor:</b>
                  <% if !review.Instructor.blank? %>
                    <%= review.Instructor %>
                  <% else %>
                    N/A
                  <% end %>
                  </h4>
                </div>

                <div class="col-lg-2">
                  <h4>
                  <b>
                    <% if !review.Semester.blank? %>
                        <%= review.Semester %> <%= review.YearTaken %>
                    <% else %>
                        N/A
                    <% end %>
                  </b>
                  </h4>
                </div>

                <div class="col-lg-5">
                  <h4>
                    <b>Teacher's Assistants:</b>
                    <% if !review.TAs.blank? %>
                      <%= review.TAs %>
                    <% else %>
                      N/A
                    <% end %>
                  </h4>
                </div>

                <div class="col-lg-2">
                  <h4 style="text-align:right">
                  <% if review.syllabus.to_s.eql? ""%>
                    &nbsp
                  <% else %>
                    <%= link_to new_user_session_path do %>
                      <span style="color:blue"> Syllabus <i class="icon ion-android-download"></i></span>
                    <% end %>
                  <% end %>
                  </h4>
                </div>

              </div>

              <div class="row" style="margin-top: 5px">
                <div class="col-lg-7" >
                  <div class="well well-sm">
                    <%= review.Comment %>
                  </div>
                </div>
                <div class="col-lg-5">
                  <b>Hours/week:</b>
                  <% if !review.HoursAWeek.blank? %>
                    <%= review.HoursAWeek %>
                  <% else %>
                    N/A
                  <% end %>
                  <br>
                  <b>Textbook required?</b> 
                  <% if !review.TextbookRequired.blank? %>
                      <%= review.TextbookRequired  ? 'Yes' : 'No'  %>
                  <% else %>
                      N/A
                  <% end %>
                  <br>
                  <b>Attendance requred?</b>
                  <% if !review.AttendanceRequired.blank? %>
                      <%= review.AttendanceRequired  ? 'Yes' : 'No'  %>
                  <% else %>
                      N/A
                  <% end %>
                  <br>
                  <b>Grade Recieved:</b> 
                  <% if !review.GradeReceived.blank? %>
                    <%= review.getGrade(review.GradeReceived) %>
                  <% else %>
                    N/A
                  <% end %>
                </div>
              </div>

              <div class="row" style="margin-top: 0px;">
                <div class="col-lg-4">
                  <span style="font-size:1.35em;">(<%= review.scoreReview %>)</span>
                  <%= link_to like_review_path(review), method: :put, class: "vote" do %>
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  <% end %>

                  <%= link_to dislike_review_path(review), method: :put, class: "vote" do%>
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                  <% end %>
                </div>
                <div class="col-lg-8" style="text-align:right">
                  <%= link_to flag_review_path(review), method: :put, class: "vote" do %>
                      <span class="glyphicon glyphicon-flag"></span> Flag review
                    <% end %>
                  (<%= review.scoreFlag %>)
                </div>

              </div>

              <div class="row">
                <div class="col-lg-7">
                  <%= link_to funny_review_path(review), method: :put, class: "vote" do%>
                  <span style="color:blue">Funny!</span>
                  <% end %>
                  <span style="font-size: .8em;"><%= review.scoreFunny %> people found this review funny</span>
                  
                </div>
                <div class="col-lg-5">
                  <p style="text-align:right">Review created on: <%= review.created_at.strftime("%B %d, %Y") %></p>
                </div>
              </div>
          </div>
        <% end %> <!-- End for each review -->
      <% end %>
    <% end %> <!-- End if reviews blank -->
  </div> <!-- End Reviews -->

  <!-- Questions -->
  <div id="questions">
    <div id="questionsTitle">
      <h2>Questions</h2>
    </div>

    <!-- If the user is signed in, show question field -->
    <% if user_signed_in? %>
      <%= form_for @course.questions.new, :html => {:style => 'margin-bottom: 10px'} do |f| %>
        <div class="field">
          <%= f.text_field :question, class: 'form-control', placeholder: "Ask a Question about the Class", :maxlength => "240", rows: 1 %>
          <%= f.hidden_field :course_id, "value" => @course.id %>
          <%= f.hidden_field :userID, "value" => current_user.id %>
        </div>
        <div align="center">
          <%= f.submit "Ask Question", class: "btn btn-primary", style:"width:200px"%> 
        </div>
      <% end %>
    <% end %>

    <% @course.questions.each do |q| %>
      <% if !q.question.nil? %>
        <div style=" background-color: #B1810B; margin-top: 10px;">
          <div class="row">            
            <div class="col-md-12">
              <h5 style="padding-left:20px; padding-right:20px;">
                <div style="color:white">
                  <%= q.created_at.strftime("%B %d, %Y") %>
                </div>
                <div style="font-size: large; margin-top: 3px; padding-left:20px; padding-right:20px;">   
                  Q: <%= q.question %>
                </div> 
              </h5>

              <%  q.answers.each do |a| %>
                <div style=" background-color: black; margin: 10px 20px 10px 20px; padding-left: 20px; padding-right: 20px; color: #B1810B">
                  <div class="row">            
                    <div class="col-md-12">
                      <h5 style="padding-left:20px; padding-right:20px;">
                        <div style="color:gray">
                          <%= a.created_at.strftime("%B %d, %Y") %>
                        </div>
                        <p style="padding-left:20px; padding-right:20px;">   
                          <%= a.answer %><br>
                          <%= link_to 'upvote', like_answer_path(a), method: :put, class: "vote2" %>
                          <%= link_to 'downvote', dislike_answer_path(a), method: :put, class: "vote2" %>(<%= a.scoreAnswer %>)
                          <%= link_to 'flag', flag_answer_path(a), :data => {:confirm => 'Are you sure?'}, method: :put, class: "vote2" %>(<%= a.scoreFlag %>)
                        </p> 
                      </h5>
                    </div>
                  </div>
                </div>
              <% end %>
              <% if user_signed_in? %>
                <br>
                <%= form_for q.answers.new, :html => {:style => 'margin-bottom: 10px'} do |f| %>
                  <div class="answerBar">
                    <%= f.text_field :answer,  class: 'form-control', placeholder: "Answer this question", :maxlength => "10000", rows: 4, style: "" %>
                  </div>
                  <div align="center" style="margin-top: 10px">
                    <%= f.submit "Answer Question", class: "btn btn-confirm", style: "width: 200px" %>
                  </div>
                  <%= f.hidden_field :question_id, "value" => q.id %>
                  <%= f.hidden_field :userID, "value" => current_user.id %>
                <% end %>
              <% end %>
            <% end %> 
          </div> 
        </div>
      </div>
    <% end %> <!-- Each Question -->
  </div> <!-- Questions -->
</div> <!-- Main -->
