 <%= form_for([@cid, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style=" box-shadow: 0px 1px 6px black; margin-bottom: 6px; margin-top: 10px; border: 0px solid black; border-radius:10px">
      <div class="row">            
        <div class="col-md-12">
<h4 style="padding-left:20px; padding-right:20px;">
  <%= f.hidden_field :userID, "value" => current_user.id %>
  <%= f.hidden_field :course_id, "value" => @cid %>
  <div class="form-group">
    <%= f.label "What do you wish you knew about the class?" %>
    <%= f.text_area :Comment, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Who was the professor of the class?" %>
    <%= f.text_field :Instructor, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Who were the Teachers Assisstants's of the class?" %>
    <%= f.text_field :TAs, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "What grade did you recieve in the class?" %>
    <%= f.select(:GradeReceived, [['A', 1], ['B', 2], ['C',3], ['D',4], ['F',5]])  %>
  </div>
  <div class="field">
    <%= f.label "How many hours a week did you spend on the class?" %><br>
    <%= f.number_field :HoursAWeek, in: 0...21 %>
  </div>
  <div class="field">
    <%= f.label "Do you think the textbook is necissary to complete the class? (Check means yes)" %><br>
    <%= f.check_box :TextbookRequired %>
  </div>
  <div class="field">
    <%= f.label "Is attendance required in the class? (Check means yes)" %><br>
    <%= f.check_box :AttendanceRequired %>
  </div>
  <dib class="field">
  <%= f.label "When did you take the class?" %><br>
  <%= f.select(:Semester, [['Fall', 'Fall'], ['Spring', 'Spring'], ['Summer','Summer']]) %>
  <%= f.select :YearTaken, (Time.zone.now.year - 100)..(Time.zone.now.year + 1) %>
  </div>
  <div class="actions" style="padding-left:30px; padding-right:20px;">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
</h4>
</div>
</div>
</div>
